body{
    font: 18px/24px Roboto, arial, helvetica, sans-serif ;
}
.container {
    width: 1282px;
    margin: 0 auto;
}
.logo {
    color: #000;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo-accent {
    color: #4BCAFF;
}
.nav-bar {
    background-color:#35444F; 
}
.nav-link {
    display: inline-block;
    border-left: solid 1px #FFF;
    padding: 24px 40px 18px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}
.nav-item{
    list-style:none ;
}
.nav-link.last-element{
    border-right: solid 1px #FFF;
}
.nav-list{
    display: flex;
    justify-content: center;
    margin: 0;

}
.nav-item:hover {
    background-color: #222F3A
}
.content { 
        display: flex;
        flex-direction: row;
        align-content:flex-start;
        margin-top: 49px;
        align-items: flex-start;
        margin-bottom: 36px;
}
.sidebar-aside{
    display: block;
    border: 1px solid #000;
    width: 344px;
    flex-shrink: 0;
}
.sidebar-menu{
    margin: 0;
    padding: 0;
}
.sidebar-item{
    list-style:none ;
}
.sidebar-link {
    display: block;
    color: #485863;
    font-size: 27px;
    font-style: normal;
    font-weight: 400; 
    padding: 27px 20px 27px 42px ;
}
.sidebar-link.accent-color{
    color: #000;
}

.sidebar-link:hover {
    background: #DBDBDB;
    color: #000;
    padding-left: 80px ;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    padding-top: 75px;
    padding-bottom: 73px;
    padding-left: 297px;
    padding-right: 268px;
    margin-bottom: 37px;
}
.info{
    margin-left: 52px;
}
.logo-img {
    max-width: 100%;
    height: auto;
}
.text{
    color: #2C2C2C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.desc{
    color: #2C2C2C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
}
.site-footer {
    display: flex;
    background-color:#63696E7A; 
    justify-content: center;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
}
.bottom-link{
    color: #0C1927;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bottom-link:hover{
    color: #3181A6;
    text-decoration: underline;
}
.bottom-item{
    vertical-align: top;
    margin-right: 10px;
    display: inline-block;
    list-style: none;
}
.bottom-menu{
    margin: 0;
    padding: 0;
}
.copyright{
    margin: 0;
}
